<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Tracker - {{pageTitle}}</title>
    {{!-- Bootstrap CSS --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/style.css">
    {{!-- Chart.js --}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    {{> header}}

    <main class="container my-4 flex-grow-1">
        {{{body}}}
    </main>

    {{> footer}}

    {{!-- Bootstrap JS Bundle --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    {{#if isLoginPage}}
        <script src="/js/login.js"></script>
    {{/if}}
    {{!-- {{#if isDashboardPage}}
        <script src="/js/dashboard.js"></script>
    {{/if}}
    {{#if isAnalyticsPage}}
        <script src="/js/analytics.js"></script>
    {{/if}} --}}
    {{!-- {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}} --}}
</body>
</html>